#navbar {
    font-family: 'Roboto', sans-serif;
    line-height: 80%;
 }

 .myPortfolio {
     background-color:f8f9fa;    
     background-size: cover;
     font-family: 'Roboto', sans-serif;
 }

 .aboutMe {
    font-family: 'Roboto', sans-serif;
    font-size: 105%;
}

.card {
    font-family: 'Roboto', sans-serif;
}

 h2 {
    font-family: 'Roboto', sans-serif;  
 }

 h3 {
    font-family: 'Roboto', sans-serif;  
 }

h1{
    position: relative;
    top: 35%;
    left: 2.5%;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

.card {
display: inline-block;
}

#big-banner {
    background-image: url(../images/header2.jpg);

    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Abril Fatface', cursive;
    height: 280px; 
    padding-top: 150px;
    padding-bottom: 0px;
    margin-bottom: 0px;
 }

 .footer {
     position: relative;
     bottom: 0;
 }